RewriteEngine On
Redirect 301 /atom.xml /feed.xml

ErrorDocument 404 /404.html

# Force https on prod
RewriteCond %{HTTP_HOST} ^erikrunyon\.com [NC]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# CACHING
# 1 YEAR
<filesMatch ".(ico|pdf|flv)$">
  Header set Cache-Control "max-age=29030400, public"
</filesMatch>
# 1 WEEK
<filesMatch ".(jpg|jpeg|png|gif|swf)$">
  Header set Cache-Control "max-age=604800, public"
</filesMatch>
# 2 DAYS
<filesMatch ".(html|htm|xml|txt|xsl|css|js)$">
  Header set Cache-Control "max-age=7200, must-revalidate"
</filesMatch>

# Gzip
AddOutputFilterByType DEFLATE text/html text/css application/javascript

<IfModule mod_rewrite.c>
  # Feed tracking
  RewriteCond %{HTTP_USER_AGENT} !FeedValidator [NC]
  RewriteCond %{HTTP_USER_AGENT} !uri\.lv [NC]
  RewriteRule ^feed.xml$ http://feeds.uri.lv/weedygarden [R=302,NC,L]

  # Don't allow index.html
  RewriteCond %{REQUEST_URI} index\.html
  RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

  # Redirect weedygarden
  RewriteCond %{HTTP_HOST} ^weedygarden.net$ [OR]
  RewriteCond %{HTTP_HOST} ^www.weedygarden.com$
  RewriteRule (.*)$ http://erikrunyon.com/$1 [R=301,L]

  # Force non www
  RewriteCond %{HTTP_HOST} ^www.erikrunyon.com [NC]
  RewriteRule ^(.*)$ http://erikrunyon.com/$1 [L,R=301,NC]
</IfModule>
