---
layout: default
bodyclass: home
---
{% assign index = true %}
<div class="blog-index">
  {% for page in paginator.posts %}
    {% if page.categories contains 'Snippet' %}{% assign snippet = 'snippet' %}{% else %}{% assign snippet = '' %}{% endif %}
    <article class="entry excerpt {{ snippet }}">
      {% include article.html %}
    </article>
  {% endfor %}
  <ul class="pagination">
    {% if paginator.next_page %}<li><a class="prev" href="/page{{ paginator.next_page }}/">&larr; Older</a></li>{% endif %}
    <!--<li><a class="archives" href="/archives/">Archives</a></li>-->
    {% if paginator.previous_page %}<li><a class="next" href="/page{{ paginator.previous_page }}/">Newer &rarr;</a></li>{% endif %}
  </ul>
</div>
