  {% unless page.no_header %}
    <header>
      {% if index == true %}<h1 class="entry-title"><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
      {% else %}<h1 class="entry-title">{{ page.title }}</h1>{% endif %}
      {% unless page.meta == false %}
        <p class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
          {% if site.disqus_short_name and page.comments != false and page.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index == true %}{{ root_url }}{{ page.url }}{% endif %}#disqus_thread">Comments</a>
          {% endif %}
        </p>
      {% endunless %}
    </header>
  {% endunless %}
  {% if index == true %}
    <div class="entry-content entry-excerpt">{{ page.excerpt }}</div>
    <footer><a href="{{ root_url }}{{ page.url }}">{{ site.excerpt_link }} &ldquo;{{ page.title }}&rdquo; &rarr;</a></footer>
  {% else %}
    <div class="entry-content">{{ content }}</div>
  {% endif %}