{% if page.description %}{% assign meta_description = page.description %}{% else %}{% assign meta_description = site.description %}{% endif %}
{% if page.title %}{% capture meta_title %}{{ page.title }} | {{ site.title }}{% endcapture %}{% else %}{% assign meta_title = site.title %}{% endif %}
{% if page.image %}{% capture meta_image %}{{ site.url }}/{{ page.image }}{% endcapture %}{% else %}{% capture meta_image %}{{ site.url }}/images/theme/webclip-144.png{% endcapture %}{% endif %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ meta_title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ meta_description }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <link rel="canonical" href="{{ canonical }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@erunyon">
  <meta name="twitter:creator" content="@erunyon">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:image" content="{{ meta_image }}">
  <meta property="og:locale" content="en_US">
  <link rel="manifest" href="/manifest.json">
  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link rel="apple-touch-icon" href="/images/theme/webclip-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/theme/webclip-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/theme/webclip-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/theme/webclip-144.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/images/theme/webclip-512.png">
  <meta name="theme-color" content="#004da3">
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include css/site.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <link rel="preload" href="/css/print.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/print.css"></noscript>
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/js/respond.js" type="text/javascript"></script>
  <![endif]-->
  <link href="{{ site.feed_rss }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
  <link href="{{ site.snippets_rss }}" rel="alternate" title="{{ site.title }} Snippets" type="application/atom+xml">
  {% include analytics.html %}
  <link href="https://micro.blog/erunyon" rel="me" />
</head>
