<div class="social-links">
  <ul>
    <li><a href="{{ site.feed_rss }}" title="subscribe via RSS"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-rss"></use></svg> RSS</a></li>
    <li><a href="https://mastodon.social/@erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-mastodon"></use></svg> Mastodon</a></li>
    <li><a href="https://bsky.app/profile/erikrunyon.com"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-bluesky"></use></svg> Bluesky</a></li>
    <li><a href="https://github.com/erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-github"></use></svg> GitHub</a></li>
    <li><a href="https://speakerdeck.com/erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-speakerdeck"></use></svg> Speaker Deck</a></li>
  </ul>
</div>
