<div class="social-links">
  <ul>
    <li><a href="{{ site.feed_rss }}" title="subscribe via RSS"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-rss"></use></svg> Subscribe</a></li>
    <li><a href="https://twitter.com/erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-twitter"></use></svg> Twitter</a></li>
    <li><a href="https://speakerdeck.com/erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-speakerdeck"></use></svg> Speaker Deck</a></li>
    <li><a href="https://github.com/erunyon"><svg class="icon" width="16" height="16" aria-hidden="true"><use xlink:href="#icon-github"></use></svg> GitHub</a></li>
  </ul>
</div>
