<div class="social-links">
  <ul>
    <li><a href="{{ site.subscribe_rss }}" title="subscribe via RSS"><i aria-hidden="true" class="feed"></i> Subscribe</a></li>
    <li><a href="https://twitter.com/erunyon"><i aria-hidden="true" class="twitter"></i> Twitter</a></li>
    <li><a href="https://plus.google.com/+ErikRunyon/"><i aria-hidden="true" class="gplus"></i> Google+</a></li>
    <li><a href="https://speakerdeck.com/erunyon"><i aria-hidden="true" class="speakerdeck"></i> Speaker Deck</a></li>
    <li><a href="https://github.com/erunyon"><i aria-hidden="true" class="github"></i> GitHub</a></li>
    <li><a href="https://www.flickr.com/photos/erikrunyon"><i aria-hidden="true" class="flickr"></i> Flickr</a></li>
  </ul>
</div>
