{% if page.bodyclass.size > 0 %}{% assign bodyclass = page.bodyclass %}{% else %}{% assign bodyclass = '' %}{% endif %}
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %}id="{{ page.body_id }}"{% endif %} class="{{ bodyclass }}">
<div class="wrapper">
  <nav class="skip-links">
    <ul>
      <li><a href="#content" class="s2c">Skip to Content</a></li>
      <li><a href="#nav" class="s2n">Menu</a></li>
    </ul>
  </nav>

  <header id="header" class="site-header" role="banner">
    <h1><a href="/">{{ site.title }}</a></h1>
    {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
  </header>

  <div id="content" class="content" role="main">
    {{ content | expand_urls: root_url }}
  </div>

  <aside class="sidebar" role="complementary">
    {% include navigation.html %}
    {% include social_links.html %}

    <section class="conferences">
      <h2>Upcoming Conferences</h2>
      <nav>
        <ul>
          <li><a href="http://2014.highedweb.org/" class="conf-heweb"><span class="date">Oct 19-22</span><b>HighEdWeb</b></a></li>
        </ul>
      </nav>
      
      <div class="heweb"><a href="http://2014.highedweb.org/"><img src="/images/2014/heweb14-badge.jpg" alt="Join me at the HighEdWeb 2014 Conference in Portland, OR, Oct. 19-22"/></a></div>
      
    </section>

    <form action="{{ site.simple_search }}" method="get" role="search">
      <fieldset>
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
        <input type="search" name="q" placeholder="Search" class="search">
        <input type="submit" value="Search">
      </fieldset>
    </form>

    {% if site.blog_index_asides.size %}
      {% include_array blog_index_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
  </aside>

  {% include footer.html %}

</div>
<script src="/js/site.js"></script>
</body>
</html>