{% if page.bodyclass.size > 0 %}{% assign bodyclass = page.bodyclass %}{% else %}{% assign bodyclass = '' %}{% endif %}
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}  class="{{ bodyclass }}">
<nav id="skip-links">
  <ul>
    <li><a href="#content">Skip to Content</a></li>
    <li><a href="#nav">Skip to Nav</a></li>
  </ul>
</nav>
<div class="wrapper">

  {% include header.html %}

  <div id="content" class="content" role="main">
    {{ content | expand_urls: root_url }}
  </div>

  <aside class="sidebar" role="complementary">
    {% include navigation.html %}
    {% include social_links.html %}

    <form action="{{ site.simple_search }}" method="get" role="search">
      <fieldset>
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
        <input type="search" name="q" placeholder="Search" class="search">
        <input type="submit" value="Search">
      </fieldset>
    </form>

    {% if site.blog_index_asides.size %}
      {% include_array blog_index_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
  </aside>

  {% include footer.html %}
  
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/js/code-highlighter.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
