/*************************************************************************************
 * 2. Screen Styles
 ************************************************************************************/
@media screen,projection {
  body {background:#fff url('/images/theme/leaves-right.jpg') top right no-repeat; background-size:60% auto;}
  blockquote {margin:0 0 1rem; padding:0.25rem 1rem; border-left:1px solid #333;}

  /* WRAPPER
  ----------------------------------------------------*/
  .wrapper {margin:4em 1em 0;}
  .wrapper:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

  .skip-links {display:block; clip:auto; position:relative; width:auto; height:auto; overflow:hidden; margin:0;}
    .skip-links ul {margin:0; padding:0; list-style:none;}
    .skip-links li {margin:0;}
    .s2c {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
      .s2c:active,
      .s2c:focus {clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;}
    .s2n,
    .s2n:visited {position:fixed; top:1em; right:1em; display:block; padding:0.25em 0.5em; border-radius:3px; color:#fff; text-shadow:0 1px 0 rgba(0,0,0,0.5); border:1px solid #31513c;
      background:#8bc360;
      background:linear-gradient(to bottom, #8bc360 0%,#3a6247 100%);
    }
      .s2n:before {content:'☰'; margin-right:0.2em;}

  .embed-inner {position:relative; padding:0;}
  .embed-inner iframe,
  .embed-inner object,
  .embed-inner embed {position:absolute; top:0; left:0; width:100%; height:100%;}

  /* HEADER
  ----------------------------------------------------*/
  .site-header {margin:0 0 2em;
    .site-title {margin:0; color:#002b5b; font-size:2.6em; font-weight:normal; line-height:1.1em; text-rendering:optimizeLegibility; text-shadow:0 1px 1px rgba(255,255,255,0.5); font-family:Lato, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;}
    .site-title a {text-decoration:none; border:0 none; color:#1f4919;}
    .site-subtitle {margin:0 0 0 0.3em; font-size:0.9em; font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;}
  }

  /* CONTENT
  ----------------------------------------------------*/
  .content {width:100%; margin:15px 0;}
  .content img {clear:both; display:block; margin:1em auto; max-width:100%;}

  .rwd-directory li em {color:#999; vertical-align:bottom;}
    .rwd-directory li em a {color:inherit;}

  /* SIDEBAR
  ----------------------------------------------------*/
  .sidebar {width:100%; padding:1em; border-top:1px solid #dadada; color:#777;
    section {margin:10px 0; padding:10px 0;}
    h2 {margin:0 0 .25em 0; font-size:1.3em; line-height:1.4; text-transform:uppercase; color:#666;}
    a {color:#555;}
    a:hover {color:#111;}
    ul {margin:0 0 1em; padding:0; list-style-type:none;}
    li {margin:0 0 .4em 0;}
    section,
    .section {margin:0 0 2em 0; padding:0;}
    .social-links li {margin:0.25rem 0;}
  }
  .search {border:1px solid #dadada;}
  .site-search label {position:absolute; overflow:hidden; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0);}

  .social-links {
    i {display:inline-block; vertical-align:top; width:16px; height:16px; margin-right:2px; background:url('/images/theme/icons-social@2x.png') 0 0 no-repeat; background-size:142px 16px;}
    .twitter {background-position:-21px 0;}
    .gplus {background-position:-42px 0;}
    .speakerdeck {background-position:-63px 0;}
    .github {background-position:-84px 0;}
    .flickr {background-position:-105px 0;}
    a {display:inline-block; padding:0.4rem 0.2rem; border-radius:3px;}
    a:hover {text-decoration:none; font-weight:bold;}
  }
  .site-footer .social-links a:hover {text-decoration:underline; font-weight:normal;}

  .conferences {width:80%; margin:2em 0;
    li {margin:1em 0 2em;}
    img {clear:both; display:block; margin:1em auto; max-width:100%;}
    .date {font-weight:bold;}
    a {display:block; width:100%;}
    b {display:block; color:$link_color; font-weight:bold; font-size:1.4em; line-height:1.1em;}
  }

  /* FOOTER
  ----------------------------------------------------*/
  .site-footer {padding:10px 0; padding:20px 0; margin:30px 0 0; border-top:1px solid #999; clear:both; text-align:center;
    p {margin:0.4em; line-height:1.5; color:#777;}
    .social-links ul {margin:0; padding:0;}
    .social-links li {display:inline-block; margin:0.25rem 1rem 0.25rem 0; padding:0;}
  }
  .org a {display:block;}

}

/*************************************************************************************
 * 3. Media Queries
 ************************************************************************************/

/* 580px */
@media only screen and (min-width:36.25em) {
  .content .alignleft {margin:0 2em 1em 0; float:left;}
  .content .alignright {margin:0 0 1em 2em; float:right;}
  .w-half {max-width:50%;}
}

/* 700px */
@media only screen and (min-width:43.75em) {
  body {background-size:80% auto;}

  .columnlists .content ul {columns:2em 2;}

  .wrapper {max-width:1200px; margin:5em 6%; height:1%;}
  .skip-links { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
  .skip-links:active, .skip-links:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

  .site-header {margin:0 0 4em;
    .site-title {margin:0; padding:0;}
  }

  .content {float:left; width:65%; margin:0 5% 0 0; padding:0;}
  .sidebar {float:right; width:30%; padding:0.75em 0 0 1em; color:#777; border:none; background-color:rgba(255, 255, 255, 0.8);}
  .site-footer {text-align:left;}
    .org a {display:inline-block; margin:0 0.25em;}
}

/* 960px */
@media only screen and (min-width:60em) {
  body {background-size:auto auto;}
  .columnlists .content ul {columns:2em 3;}
  .post-header h2 {font-size:2.2em;}
  .post p {max-width:40em;}
  .social-links li {}
  .social-links a {padding:0.2rem;}
}
