* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
body, html {margin:0; padding:0;}
body {padding:0.5em 1em; font-family:Helvetica,Verdana,Arial,sans-serif;}

ul {margin:5%; list-style:none;
     -moz-column-count:2; -moz-column-gap:2.5em;
  -webkit-column-count:2; -webkit-column-gap:2.5em;
          column-count:2; column-gap:2.5em;
}
.icn {width:32px; height:25px; margin:0 0 20px; text-indent:100%; white-space:nowrap; overflow:hidden; background:url(flags.png) 0 0 no-repeat;}
.icn.usa {background-position:0 0;}
  .icn.usa.color {background-position:-800px 0;}
.icn.england {background-position:0 -250px;}
  .icn.england.color {background-position:-800px -250px;}
.icn.ireland {background-position:0 -500px;}
  .icn.ireland.color {background-position:-800px -500px;}
.icn.uk {background-position:0 -750px;}
  .icn.uk.color {background-position:-800px -750px;}
.icn.norway {background-position:0 -1000px;}
  .icn.norway.color {background-position:-800px -1000px;}
.icn.pr {background-position:0 -1250px;}
  .icn.pr.color {background-position:-800px -1250px;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    
    .icn {background-image:url(flags@2x.png);
         -moz-background-size:900px 1300px;
          -ie-background-size:900px 1300px;
           -o-background-size:900px 1300px;
      -webkit-background-size:900px 1300px;
              background-size:900px 1300px;
    }

    .icn.large1 {background-image:url(flags-large1@2x.png);
         -moz-background-size:1000px 1300px;
          -ie-background-size:1000px 1300px;
           -o-background-size:1000px 1300px;
      -webkit-background-size:1000px 1300px;
              background-size:1000px 1300px;
    }
    .icn.large2 {background-image:url(flags-large2@2x.png);
         -moz-background-size:1050px 1300px;
          -ie-background-size:1050px 1300px;
           -o-background-size:1050px 1300px;
      -webkit-background-size:1050px 1300px;
              background-size:1050px 1300px;
    }
    
}