<ul class="social-links">
  <li class="feed"><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS"><img src="/images/css/feed.png" alt="Feed Icon" />Subscribe</a></li>
  <li class="twitter"><a href="http://twitter.com/erunyon"><img src="/images/css/twitter.png" alt="Twitter Icon" />Twitter</a></li>
  <li class="gplus"><a href="https://plus.google.com/115544232122176645256"><img src="/images/css/gplus.png" alt="Google+ Icon" />Google+</a></li>
  <li class="speakerdeck"><a href="hhttps://speakerdeck.com/erunyon"><img src="/images/css/speakerdeck.png" alt="Speaker Deck" />Speaker Deck</a></li>
  <li class="flickr"><a href="http://www.flickr.com/photos/erikrunyon"><img src="/images/css/flickr.png" alt="Flickr Icon" />Flickr</a></li>
</ul>