{% if page.bodyclass.size > 0 %}{% assign bodyclass = page.bodyclass %}{% else %}{% assign bodyclass = '' %}{% endif %}
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %}id="{{ page.body_id }}"{% endif %} class="{{ bodyclass }}">
<div class="wrapper">
  <nav class="skip-links">
    <ul>
      <li><a href="#content" class="s2c">Skip to Content</a></li>
      <li><a href="#nav" class="s2n">Menu</a></li>
    </ul>
  </nav>

  <header id="header" class="site-header" role="banner">
    {% if bodyclass == 'home' %}<h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
    {% else %}<p class="site-title"><a href="/">{{ site.title }}</a></p>{% endif %}
    {% if site.subtitle %}<p class="site-subtitle">{{ site.subtitle }}</p>{% endif %}
  </header>

  <main id="content" class="content" role="main">
    {{ content | expand_urls: root_url }}
  </main>

  <aside class="sidebar" role="complementary">
    {% include navigation.html %}
    {% include social_links.html %}

    <form action="{{ site.simple_search }}" method="get" role="search">
      <fieldset>
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
        <input type="search" name="q" placeholder="Search" class="search">
        <input type="submit" value="Search">
      </fieldset>
    </form>

    <section class="conferences">
      <h2>Upcoming Conferences</h2>
      <nav>
        <ul>
          <li><a href="http://2016.highedweb.org/" class="conf-heweb"><span class="date">Oct 16-19</span><b>HighEdWeb</b></a></li>
        </ul>
      </nav>
    </section>
  </aside>

  {% include footer.html %}

</div>
<script src="/js/site.js"></script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Lato:700italic,700,300italic,300:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</body>
</html>
