---
layout: default
single: true
bodyclass: post
---
<article class="entry hentry">
  {% include article.html %}

  {% if page.external.size > 0 %}
    <p class="external"><a href="{{ page.external }}">Read more &gt;</a></p>
  {% endif %}

  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>

    <ul class="meta pagination">
      {% if page.previous.url %}<li><a class="basic-alignment left prev" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a></li>{% endif %}
      {% if page.next.url %}<li><a class="basic-alignment right next" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a></li>{% endif %}
    </ul>
  </footer>
</article>
