---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    {% include article.html %}
  {% endfor %}
  <ul class="pagination">
    {% if paginator.next_page %}<li><a class="prev" href="{{paginator.next_page}}">&larr; Older</a></li>{% endif %}
    <li><a class="archives" href="/archives">Archives</a></li>
    {% if paginator.previous_page %}<li><a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a></li>{% endif %}
  </ul>
</div>